# WARNING: Do not remove wildcard dockerignore here.
# The secrets directory should not be copied to the context because it may accidentally wild up in images.
*
# Gradle support code
!**/*.gradle
!**/*.properties
!gradlew
!buildSrc/*
!gradle/*
!swagger-templates/*
swagger-api.yaml
setup.cfg
# Image support code
!docker/*
# Java source code
!quasar-core/*
!game/*
!cards/*
!net/*
!cluster/*
!client/*
!vertx-sync/*
!testutils/*
!core/*
!micro/*
!internalcontent/*
!discordbot/*
!vertx-redis-cluster/*
!conversiontest/*
!framework/*
# Omit intermediate build data
**/build/
**/classes/
**/out/
