spellsource-python/workdir/models/
spellsource-python/workdir/user/
spellsource-python/workdir/custom_nodes/
.settings
.classpath
.project
.gradle
.idea
.vertx
.mongo*
test-output
report.log
.gradletasknamecache
.java-version
/~$card_checklist.xlsx
build/
classes/
out/
*.iml

artifact.zip

cards/src/main/resources/metastone.properties
.DS_Store
net/dump
cards/out

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

.vagrant/
.venv/

*.egg-info
__pycache__/
python/dist/

.ipynb_checkpoints/
dump/

hs_err_pid*
