bin
.settings
.classpath
.project
.gradle
.idea
.vertx
.mongo
test-output
report.log
/~$card_checklist.xlsx
build/
classes/
out/
*.iml

artifact.zip

cards/src/main/resources/metastone.properties
.DS_Store
net/dump
cards/out

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

.vagrant/
