[submodule "internalcontent/src"]
	path = spellsource-cards-private/src
	url = git@github.com:hiddenswitch/Spellsource-internalcontent.git
[submodule "secrets"]
	path = spellsource-private/src/secrets
	url = git@github.com:hiddenswitch/HiddenSwitch-Secrets.git
[submodule "unityclient"]
	path = spellsource-client/src/unity
	url = git@github.com:hiddenswitch/Spellsource-Client.git
[submodule "steamguardcli"]
	path = steamguardcli
	url = git@github.com:hiddenswitch/steamguard-cli.git
[submodule "comfyui"]
	path = spellsource-art-generation/comfyui
	url = git@github.com:hiddenswitch/ComfyUI.git
