[submodule "internalcontent/src"]
	path = internalcontent/src
	url = git@github.com:doctorpangloss/Spellsource-internalcontent.git
[submodule "secrets"]
	path = secrets
	url = git@github.com:doctorpangloss/HiddenSwitch-Secrets.git
