[submodule "internalcontent/src"]
	path = internalcontent/src
	url = git@github.com:doctorpangloss/Spellsource-internalcontent.git
[submodule "secrets"]
	path = secrets
	url = git@github.com:doctorpangloss/HiddenSwitch-Secrets.git
[submodule "unityclient"]
	path = unityclient
	url = git@bitbucket.org:ben_berman/spellsource-client.git
[submodule "steamguardcli"]
	path = steamguardcli
	url = git@github.com:hiddenswitch/steamguard-cli.git
