language: java
sudo: false
git:
  submodules: false
before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
  - $HOME/.gradle/caches/
  - $HOME/.gradle/wrapper/
jdk:
  - openjdk11
services:
  - mongodb
script:
  - travis_wait 50 ./gradlew cards:test --no-parallel
env:
  global:
    JAVA_OPTS=-Xmx1024m
    MONGO_URL=mongodb://127.0.0.1:27017/testdb
