include *.md
include setup.py
include cards/LICENSE
include cards/README.md
include client/README.md
include cluster/LICENSE
include cluster/README.md
include game/build.gradle
include game/LICENSE
include game/README.md
include net/build.gradle
include net/LICENSE
include build.gradle
include build.sh
include client.sh
include gradlew
include gradlew.bat
include swagger-api.yaml