plugins {
    id 'maven-publish'
}

apply plugin: 'java-library'
apply plugin: 'maven'
apply plugin: 'maven-publish'

group = '{{groupId}}'
version = '{{artifactVersion}}'

repositories {
    jcenter()
}

publishing {
    publications {
        maven(MavenPublication) {
            groupId = 'com.hiddenswitch'
            artifactId = 'client'
            version = version

            from components.java
        }
    }
}

install {
    repositories.mavenInstaller {
        pom.artifactId = '{{artifactId}}'
    }
}

task execute(type:JavaExec) {
   main = System.getProperty('mainClass')
   classpath = sourceSets.main.runtimeClasspath
}

ext {
    swagger_annotations_version = "1.5.15"
    jackson_version = "2.10.2"
    jersey_version = "1.19.4"
    jodatime_version = "2.10.2"
    junit_version = "4.12"
}

dependencies {
    implementation group: 'javax.ws.rs', name: 'javax.ws.rs-api', version: '2.1.1'
    implementation group: 'javax.xml.bind', name: 'jaxb-api', version: '2.3.1'
    implementation "io.swagger:swagger-annotations:$swagger_annotations_version"
    implementation ("com.sun.jersey:jersey-client:$jersey_version") {
        exclude group: 'javax.ws.rs', module: 'jsr311-api'
    }
    implementation("com.sun.jersey.contribs:jersey-multipart:$jersey_version") {
        exclude group: 'javax.ws.rs', module: 'jsr311-api'
    }
    implementation("com.fasterxml.jackson.core:jackson-core:$jackson_version") {
        exclude group: 'jakarta.xml.bind', module: '*'
        exclude group: 'jakarta.activation', module: '*'
    }
    implementation("com.fasterxml.jackson.core:jackson-annotations:$jackson_version") {
        exclude group: 'jakarta.xml.bind', module: '*'
        exclude group: 'jakarta.activation', module: '*'
    }
    implementation("com.fasterxml.jackson.core:jackson-databind:$jackson_version") {
        exclude group: 'jakarta.xml.bind', module: '*'
        exclude group: 'jakarta.activation', module: '*'
    }
    implementation "com.fasterxml.jackson.module:jackson-modules-java8:$jackson_version"
    implementation("com.fasterxml.jackson.jaxrs:jackson-jaxrs-json-provider:$jackson_version") {
        exclude group: 'jakarta.xml.bind', module: '*'
        exclude group: 'jakarta.activation', module: '*'
    }
    implementation "com.fasterxml.jackson.module:jackson-module-parameter-names:$jackson_version"
    implementation "com.fasterxml.jackson.datatype:jackson-datatype-jdk8:$jackson_version"
    implementation "com.fasterxml.jackson.datatype:jackson-datatype-jsr310:$jackson_version"
    testImplementation "junit:junit:$junit_version"
}