@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:300,400,500,700&display=swap');
@import "../styles/font";

/**
 * Style variables
 */
$base-font-family: 'Space Grotesk', sans-serif;
$base-font-size: 22px !default;
$font-size-footer: 16px;
$mobile-font-size: 18px !default;
$base-line-height: 1.2 !default;
$container-width: 100% !default;
$main-width: 700px !default;

// From dark
:root {
  --base-color: #DBDBDB;
  --primary-color: #A2FC8F;
  --border: solid 2px #1B1B1B;
  --selection-background: #DBDBDB;
  --selection-text: #21215c;
  --background-color: #f9f9f9;
  --text-color: #1B1B1B;
  --text-dark: #1B1B1B;
  --text-light: #FCFCFC;
  --hover-color: #2837FF;
  --header-background-color: #ffffff;
  --placeholder-color: var(--base-color);
  --link-color: var(--base-color);
  --code-color-1: #aaaaaa;
  --code-color-2: #ffffcc;
  --code-color-3: #F00000;
  --code-color-4: #F0A0A0;
  --code-color-5: #b38aff;
  --code-color-6: #5ba711;
  --code-color-7: #e4e477;
  --code-color-8: #000080;
  --code-color-9: #05ca05;
  --code-color-10: #888888;
  --code-color-11: #555555;
  --code-color-12: #800080;
  --code-color-13: #00d4d4;
  --code-color-14: #00c1c1;
  --code-color-15: #ed9d13;
  --code-color-16: #1e90ff;
  --code-color-17: #800000;
  --code-color-18: #bbbbbb;
}

/**
 * Global
 */
body {
  box-sizing: border-box;
  background-color: var(--background-color);
  margin: 0 auto;
  padding: 0;
  font-family: $base-font-family;
  font-size: $base-font-size;
  color: var(--text-color);
  text-align: left;
  line-height: $base-line-height !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  font-weight: bold;
  color: var(--text-dark);
}

@media screen and (max-width: 400px){
  h1 {
    font-size: 12vw !important;
  }
  h2 {
    font-size: 6vw !important;
  }
  h3 {
    font-size: 6vw !important;
  }
}

h1 {
  font-size: 64px;
  padding-bottom: 20px;
}

h2 {
  font-size: 40px;
  font-weight: 500;
}

h3 {
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
}

h4 {
  font-size: 24px;
  font-weight: 400;
}

h5 {
  font-size: $base-font-size;
}

h6 {
  font-size: 15px;
}

p, ul, ol {
  color: var(--text-dark);
}


a:visited { 
  text-decoration: none; 
  color:var(--text-dark); 
}

figure {
  display: inline-block;
  margin: 20px;
  align-items: center;
}

figcaption {
  text-align: center;
}

summary:hover {
  color: var(--background-color);
  background-color: var(--base-color);
}

.primary-text {
  color: var(--primary-color);
}

.emphasis-gif {
  width: $main-width;
  max-width: 95%;
  height: auto;
  flex: 1;
  margin: auto;
}

.small-logo {
  width: 75px;
}

@media only screen and (max-device-width: 700px) {
  .emphasis-gif {
    width: 100vw;
    max-width: 100vw;
    margin: calc(-50vw + 50%);
  }
}

  /*h1:before { content: "#";  margin-right: 9px; }
  h2:before { content: "##";  margin-right: 9px; }
  h3:before { content: "###";  margin-right: 9px; }
  h4:before { content: "####";  margin-right: 9px; }
  h5:before { content: "#####";  margin-right: 9px; }
  h6:before { content: "######";  margin-right: 9px; }*/

/**
 * Layout
 */
.container {
  width: $container-width;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  position: relative;
}

// main {
//   max-width: calc(100% - 50px);
//   width: $main-width;
//   margin: 90px auto 90px auto;
// }

section {
  margin-right: auto;
  margin-left: auto;
}

.fullscreen-div {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.collection-div {
  width: 60vw;
  margin-left: calc(-26vw + 50%);
  display: flex;
  flex-wrap: wrap;
}

::-webkit-scrollbar {
  width: 0;
}

/**
 * Highlight/Markup
 */
::selection {
  background: var(--selection-background);
  color: var(--selection-text);
}

::-moz-selection {
  background: var(--selection-background);
  color: var(--selection-text);
}

/**
 * Lists
 */
:not(.menu) > ul {
  list-style-type: none;

  list-style: none;
  padding-left: 0;
}

:not(.menu) > ul > li:before {
  margin-right: 20px;
}

/**
 * Header/Navigation
 */

 @media screen and (max-width: 850px){
  .mobileNavbar{
    display: flex !important;
    margin: 22px;
  }
  .desktopNavbar{
    display: none !important;
  }
  .navbarContainer{
    // padding: 0 20px !important;
  }
  .heroButtonsContainer{
    align-self: 'center' !important;
  }
 }
 
 @media screen and (max-width: 1200px){
  .heroContainerAlt{
    flex-wrap: wrap !important;
  }
 }

 .mobileNavbar{
  display: none;
  justify-content: center;
  align-items: flex-start;
 }

 .mobileUl{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 12;
  background-color: var(--header-background-color);
  top: 60px;
  left: 0;
  text-align: left;
  margin-top: 0;
  padding-bottom: 20px;
  width: 100%;
  border: 2px solid var(--text-dark);
  border-top: none;
 }

 .desktopNavbar{
  display: flex;
 }

 .gutter{
  display: flex;
  max-width: 20px;
  flex-shrink: 1;
 }

.navbarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--header-background-color);
  border: 2px solid var(--text-dark);

  .search-results {
    background-color: var(--header-background-color);
    z-index: 10;    
    position: fixed;
    top: auto;
    width: 275px;
  }

  strong {
    padding-left: 10px;
    font-weight: 400;
  }

  a:link {
    text-decoration: none;
    font-weight: 200;
  }

  .search-list-group-item {
    text-align: left;
    padding-left: 0.2em;
    padding-right: 0.25em;
  }

  ul {
    margin: 20px 0;
    padding-left: 0px;
    list-style-type: none;
    text-align: center;

    li {
      display: inline-block;
      margin: 5px 10px;
      user-select: none;
      a {
        text-decoration: none;
        color: var(--text-dark);

        &:hover {
          text-decoration: none;
          color: var(--hover-color);
        }
      }
    }
  }
}

.input-box {
  border: var(--border);
  padding-left: 0.25em;
  padding-right: 0.25em;
}

/**
 * Backgrounds
 */

.backgroundGradient0{
  background-image: url('../assets/gradient-section-1.png');
  background-size: 100% 100%;
}

.backgroundGradient1{
  background-image: url('../assets/gradient-section-3.png');
  background-size: 100% 100%;
}

.backgroundGradient2{
  background-image: url('../assets/gradient-section-1.png');
  background-size: 100% 100%;
}

.backgroundGradient3{
  background-image: url('../assets/gradient-section-2.png');
  background-size: 100% 100%;
}

/**
 * Clouds
 */
 @keyframes moveCloud {
  0% {
    transform: translateX(0);
  }
  24% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-20px);
  }
  49% {
    transform: translateX(-20px);
  }
  50% {
    transform: translateX(0);
  }

}
 .cloud{
  position: absolute;
  z-index: 11;
  // animation: 1s infinite moveCloud;
}

.scloud{
  max-width: 18vw;
  min-width: 120px;
}

.mcloud{
  max-width: 25vw;
  min-width: 160px;
}

.lcloud{
  max-width: 40vw;
  min-width: 220px;
}

/**
 * Hero Section
 */

 .heroContainer{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 145px 5%;
}

.heroContainerAlt{
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 34px;
  padding: 145px 5%;
}

.heroContainerGithub{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 145px 90px;
}

/**
 * Hero Logo Section
 */
 .heroSpellsourceLogo{
    position: relative;
    overflow-y:visible;
    height: calc(100vh - 76px);
    background-image: url('../assets/gradient-section-4.png');
    background-size: 100% 100%;
    padding: 0;
 }

 .spellsourceLogo{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  max-width: 80%;
  width: auto;
 }

/**
 * Hero Text Section
 */

 .heroIntroLogos{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
 }

 .logos{
  padding: 10px 20px;
  min-width: 45px;
  height: auto;
 }

 .heroButtonsContainer{
  display: flex;
  flex-wrap: wrap;
  padding: 46px 0;
  gap: 12px;
 }

 .heroIntroSubText{
  color: var(--text-dark);
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
  
 }

.heroTextContainer{
  display: flex;
  flex-direction: column;
  flex-shrink: 3;
  width: 75%;
}

.heroPlayContainer{
  display: flex;
  flex-direction: column;
  flex-shrink: 3;
  z-index: 13;
}
 
 .heroTitle{
  font-weight: 700;
  padding-bottom: 20px;
  font-size: 64px;
 }

 .heroBody{
  color: var(--text-dark);
  font-size: 40px;
 }

 .heroSectionTitle{
  color: var(--text-light);
  min-width: 320px;
 }

 .playSectionTitle{
  color: var(--text-light);
  font-weight: bold;
 }

 .githubTextContainer{
  display: flex;
  flex-direction: column;
}
 .githubSectionTitle {
  color: var(--text-dark);
  min-width: 320px;
  align-self: center;
 }

 .githubSectionSubText{
  color: var(--text-dark);
  max-width: 580px;
  align-self: center;
 }

.playSectionBody{
  color: var(--text-light);
  font: medium;
  margin: 0;
} 

 .heroImageContainer{
  display: flex;
  flex-grow: 1;
  gap: 12px;
}
 .heroImage{
  max-width:100%;
  width: 800px;
  border: '2px solid #fff';
  border-radius: 12px;
 }

/**
 * Footer
 */
 
.footer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  min-height: 100px;
  align-items: center;
  background-color: var(--text-light);
  font-size: $font-size-footer;
  border: 2px solid var(--text-dark);
  padding: 0 5%;
  text-decoration: none;

  strong{ 
    color: var(--text-dark);
  }

  ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color:var(--text-dark); 
    text-decoration: none;
  }
  li{
    flex-grow: 1;
    column-gap: 30px;
    text-decoration: none;
    padding: 0 10px;
    color:var(--text-dark); 
  }
  a {
    text-decoration: none;
    color: var(--text-dark); 
  }
  a:visited { 
    text-decoration: none; 
    color:var(--text-dark); 
  }
}

/**
 * Form
 */
input, select, textarea {
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border: none;
}

input[type=text], select, textarea {
  width: 100%;
  resize: none;
  background-color: var(--header-background-color);
  color: var(--text-dark);
  caret-color: var(--hover-color);
  font-size: $base-font-size;
  font-family: $base-font-family;
  line-height: $base-line-height;
}

input, select, textarea, textarea::-webkit-input-placeholder {
  text-indent: 0px;
}

::placeholder {
  color: var(--placeholder-color);
  opacity: 1;
}

:-ms-input-placeholder {
  color: var(--placeholder-color);
}

::-ms-input-placeholder {
  color: var(--placeholder-color);
}

input[type=submit] {
  font-size: $base-font-size;
  font-family: $base-font-family;
  line-height: $base-line-height;
  cursor: pointer;
  color: var(--link-color);
  background-color: var(--background-color);
}

input[type=submit]:hover {
  color: var(--background-color);
  background-color: var(--base-color);
}

*:focus {
  outline: none;
}

textarea {
  vertical-align: top;
}

/**
 * Code and syntax highlighting
 */
.lineno {
  color: var(--code-color-1);
  margin-right: 15px;
}

figure.highlight {
  margin: 5px 0;
}

pre {
  background-color: var(--background-color);
  border: none;
  padding: 0;
  margin: 0;
  overflow: auto;
  font-size: $base-font-size;
  color: var(--text-dark);
  line-height: 1.7 !important;
  font-family: $base-font-family !important;
}

.highlight .hll {
  background-color: var(--code-color-2);
}

.highlight .c {
  color: var(--code-color-1);
  font-style: italic
}

/* Comment */
.highlight .err {
  color: var(--code-color-3);
  background-color: var(--code-color-4);
}

/* Error */
.highlight .k {
  color: var(--code-color-5);
}

/* Keyword */
.highlight .cm {
  color: var(--code-color-1);
  font-style: italic
}

/* Comment.Multiline */
.highlight .cp {
  color: var(--code-color-6);
}

/* Comment.Preproc */
.highlight .c1 {
  color: var(--code-color-1);
  font-style: italic
}

/* Comment.Single */
.highlight .cs {
  color: var(--code-color-5);
  font-style: italic
}

/* Comment.Special */
.highlight .gd {
  color: var(--code-color-7);
}

/* Generic.Deleted */
.highlight .ge {
  font-style: italic
}

/* Generic.Emph */
.highlight .gr {
  color: var(--code-color-7);
}

/* Generic.Error */
.highlight .gh {
  color: var(--code-color-8);
  font-weight: bold
}

/* Generic.Heading */
.highlight .gi {
  color: var(--code-color-9);
}

/* Generic.Inserted */
.highlight .go {
  color: var(--code-color-10);
}

/* Generic.Output */
.highlight .gp {
  color: var(--code-color-11);
}

/* Generic.Prompt */
.highlight .gs {
  font-weight: bold
}

/* Generic.Strong */
.highlight .gu {
  color: var(--code-color-12);
  font-weight: bold
}

/* Generic.Subheading */
.highlight .gt {
  color: var(--code-color-7);
}

/* Generic.Traceback */
.highlight .kc {
  color: var(--code-color-5);
}

/* Keyword.Constant */
.highlight .kd {
  color: var(--code-color-5);
}

/* Keyword.Declaration */
.highlight .kn {
  color: var(--code-color-5);
}

/* Keyword.Namespace */
.highlight .kp {
  color: var(--code-color-5);
}

/* Keyword.Pseudo */
.highlight .kr {
  color: var(--code-color-5);
}

/* Keyword.Reserved */
.highlight .kt {
  color: var(--code-color-13);
}

/* Keyword.Type */
.highlight .m {
  color: var(--code-color-14);
}

/* Literal.Number */
.highlight .s {
  color: var(--code-color-15);
}

/* Literal.String */
.highlight .na {
  color: var(--code-color-16);
}

/* Name.Attribute */
.highlight .nb {
  color: var(--code-color-13);
}

/* Name.Builtin */
.highlight .nc {
  color: var(--code-color-9);
  text-decoration: underline
}

/* Name.Class */
.highlight .no {
  color: var(--code-color-7);
}

/* Name.Constant */
.highlight .nd {
  color: var(--code-color-10);
}

/* Name.Decorator */
.highlight .ni {
  color: var(--code-color-17);
  font-weight: bold
}

/* Name.Entity */
.highlight .nf {
  color: var(--code-color-9);
}

/* Name.Function */
.highlight .nn {
  color: var(--code-color-13);
  text-decoration: underline
}

/* Name.Namespace */
.highlight .nt {
  color: var(--code-color-16);
  font-weight: bold
}

/* Name.Tag */
.highlight .nv {
  color: var(--code-color-7);
}

/* Name.Variable */
.highlight .ow {
  color: var(--code-color-5);
}

/* Operator.Word */
.highlight .w {
  color: var(--code-color-18);
}

/* Text.Whitespace */
.highlight .mf {
  color: var(--code-color-14);
}

/* Literal.Number.Float */
.highlight .mh {
  color: var(--code-color-14);
}

/* Literal.Number.Hex */
.highlight .mi {
  color: var(--code-color-14);
}

/* Literal.Number.Integer */
.highlight .mo {
  color: var(--code-color-14);
}

/* Literal.Number.Oct */
.highlight .sb {
  color: var(--code-color-15);
}

/* Literal.String.Backtick */
.highlight .sc {
  color: var(--code-color-15);
}

/* Literal.String.Char */
.highlight .sd {
  color: var(--code-color-15);
}

/* Literal.String.Doc */
.highlight .s2 {
  color: var(--code-color-15);
}

/* Literal.String.Double */
.highlight .se {
  color: var(--code-color-15);
}

/* Literal.String.Escape */
.highlight .sh {
  color: var(--code-color-15);
}

/* Literal.String.Heredoc */
.highlight .si {
  color: var(--code-color-15);
}

/* Literal.String.Interpol */
.highlight .sx {
  color: var(--code-color-15);
}

/* Literal.String.Other */
.highlight .sr {
  color: var(--code-color-14);
}

/* Literal.String.Regex */
.highlight .s1 {
  color: var(--code-color-15);
}

/* Literal.String.Single */
.highlight .ss {
  color: var(--code-color-5);
}

/* Literal.String.Symbol */
.highlight .bp {
  color: var(--code-color-13);
}

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: var(--code-color-7);
}

/* Name.Variable.Class */
.highlight .vg {
  color: var(--code-color-7);
}

/* Name.Variable.Global */
.highlight .vi {
  color: var(--code-color-7);
}

/* Name.Variable.Instance */
.highlight .il {
  color: var(--code-color-14);
}
