@charset "utf-8";
@import "../styles/font.scss";

.card-display-template {
    position: relative;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    width: 256px;
    height: 310px;
}

.layer-one {
    position: absolute;
    z-index: 2;
}

.primary {
    width: 148px;
    height: 40px;
    z-index: 3;
    left: 38px;
    top: 2px;
    position: absolute;
    mask-image: url('../card-images/layer-3.png');
    -webkit-mask-image: url('../card-images/layer-3.png');
}

.highlight {
    width: 250px;
    height: 270px;
    position: absolute;
    z-index: 4;
    left: 2px;
    top: 10px;
    mask-image: url('../card-images/layer-4.png');
    -webkit-mask-image: url('../card-images/layer-4.png');
}

.shadow {
    width: 178px;
    height: 250px;
    position: absolute;
    z-index: 5;
    left: 41.6px;
    top: 45.8px;
    mask-image: url('../card-images/layer-5.png');
    -webkit-mask-image: url('../card-images/layer-5.png');
}

.secondary {
    width: 176px;
    height: 248px;
    position: absolute;
    z-index: 6;
    left: 44px;
    top: 45.8px;
    mask-image: url('../card-images/layer-6.png');
    -webkit-mask-image: url('../card-images/layer-6.png');
}

.pedestal-primary {
    position: absolute;
    z-index: 1;
    width: 96px;
    height: 48px;
    left: 84px;
    top: 145.7px;
    mask-image: url('../card-images/pedestal-primary.png');
    -webkit-mask-image: url('../card-images/pedestal-primary.png');
}

.pedestal-secondary {
    position: absolute;
    z-index: 1;
    width: 128px;
    height: 66px;
    left: 68px;
    top: 137.6px;
    mask-image: url('../card-images/pedestal-secondary.png');
    -webkit-mask-image: url('../card-images/pedestal-secondary.png');
}

.pedestal-shadow {
    position: absolute;
    z-index: 1;
    width: 128px;
    height: 34px;
    left: 68px;
    top: 170.8px;
    mask-image: url('../card-images/pedestal-shadow.png');
    -webkit-mask-image: url('../card-images/pedestal-shadow.png');
}

.window-background {
    position: absolute;
    left: 66px;
    top: 64px;
    z-index: 0;
}

.attackToken {
    position: absolute;
    z-index: 10;
    top: 260px;
    left: 22px;
}

.hpToken {
    position: absolute;
    z-index: 10;
    top: 264px;
    left: 190px;
}

.name {
    position: absolute;
    z-index: 6;
    font-size: 24px;
    left: 2em;
    top: 7px;
    max-width: 134px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.baseManaCost {
    position: absolute;
    left: 213px;
    font-size: 20px;
    font-family: 'trenco', monospace;
    text-shadow: -1.5px 1.5px black;
    top: 11px;
    z-index: 7;
}

.baseAttack {
    position: absolute;
    font-family: 'trenco', monospace;
    font-size: 20px;
    z-index: 11;
    color: #CF596D;
    text-shadow: -1.5px 1.5px black;
    left: 45.5px;
    top: 271px;
}

.baseHp {
    position: absolute;
    font-family: 'trenco', monospace;
    z-index: 11;
    font-size: 20px;
    color: #A4E9C7;
    text-shadow: -1.5px 1.5px black;
    left: 209.5px;
    top: 271px;
}

.description {
    position: absolute;
    font-size: 23px;
    line-height: 10px;
    font-family: 'trenco', monospace;
}

.type {
    position: absolute;
    font-size: 14px;
    left: 50%;
    transform: translateX(-50%);
    top: 45px;
}

.description-box {
    position: absolute;
    left: 68px;
    top: 210px;
    z-index: 7;
    width: 138px;
    height: 80px;
}

.hero-and-shadow {
    position: absolute;
    left: 99px;
    top: 92px;
    width: 64px;
}

.hero {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 8px;
    z-index: 8;
}

.heroShadow {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 68px;
    z-index: 7;
}