.code-editor {
    height: 530px;
    width: 900px;
    color: black;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.editorOption {
    border-style: ridge;
    display: inline;
    padding: 2px 2px 3px 1px;
}

.editorCheck {
    height: 15px;
    width: 15px;
    -webkit-appearance: checkbox;
}

.editorSearch {
    width: 40% !important;
    border-style: ridge;
}
