@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700');
@import "../styles/font";

/**
 * Style variables
 */
$base-font-family: 'compasspromedium', 'Source Code Pro', monospace !default;
$base-font-size: 17pt !default;
$mobile-font-size: 17pt !default;
$base-line-height: 1.2 !default;
$container-width: 100% !default;
$main-width: 700px !default;

// From dark
:root {
  --base-color: #DBDBDB;
  --primary-color: #A2FC8F;
  --border: solid 1px #DBDBDB;
  --selection-background: #DBDBDB;
  --selection-text: #21215c;
  --background-color: #21215c;
  --text-color: var(--base-color);
  --placeholder-color: var(--base-color);
  --link-color: var(--base-color);
  --code-color-1: #aaaaaa;
  --code-color-2: #ffffcc;
  --code-color-3: #F00000;
  --code-color-4: #F0A0A0;
  --code-color-5: #b38aff;
  --code-color-6: #5ba711;
  --code-color-7: #e4e477;
  --code-color-8: #000080;
  --code-color-9: #05ca05;
  --code-color-10: #888888;
  --code-color-11: #555555;
  --code-color-12: #800080;
  --code-color-13: #00d4d4;
  --code-color-14: #00c1c1;
  --code-color-15: #ed9d13;
  --code-color-16: #1e90ff;
  --code-color-17: #800000;
  --code-color-18: #bbbbbb;
}

/**
 * Global
 */
body {
  box-sizing: border-box;
  background-color: var(--background-color);
  margin: 0 auto;
  padding: 0;
  font-family: $base-font-family;
  font-size: $base-font-size;
  color: var(--text-color);
  text-align: left;
  line-height: $base-line-height !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  margin-top: 22px;
  font-weight: bold;
  color: var(--text-color);
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 27px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: $base-font-size;
}

h6 {
  font-size: 15px;
}

p, ul, ol {
  margin: 0 0 $base-font-size 0;
  color: var(--text-color);
}

a {
  text-decoration: underline;
  color: var(--link-color);
}

a:hover {
  color: var(--background-color);
  background-color: var(--base-color);
}

figure {
  display: inline-block;
  margin: 20px;
  align-items: center;
}

figcaption {
  text-align: center;
}

summary:hover {
  color: var(--background-color);
  background-color: var(--base-color);
}

.primary-text {
  color: var(--primary-color);
}

.emphasis-gif {
  width: $main-width;
  max-width: 95%;
  height: auto;
  flex: 1;
  margin: auto;
}

.small-logo {
  width: 75px;
}

//@media only screen and (max-device-width: 500px) {
//  * {
//    font-size: $base-font-size !important;
//  }
//}

@media only screen and (max-device-width: 700px) {
  .emphasis-gif {
    width: 100vw;
    max-width: 100vw;
    margin: calc(-50vw + 50%);
  }
}

  /*h1:before { content: "#";  margin-right: 9px; }
  h2:before { content: "##";  margin-right: 9px; }
  h3:before { content: "###";  margin-right: 9px; }
  h4:before { content: "####";  margin-right: 9px; }
  h5:before { content: "#####";  margin-right: 9px; }
  h6:before { content: "######";  margin-right: 9px; }*/

/**
 * Layout
 */
.container {
  width: $container-width;
  margin-right: auto;
  margin-left: auto;
}

main {
  max-width: calc(100% - 50px);
  width: $main-width;
  margin-right: auto;
  margin-left: auto;
}

section {
  margin-right: auto;
  margin-left: auto;
}

footer {
  color: var(--text-color);
  border-top: var(--border);
  margin: 22px auto 15px;
  padding-top: 10px;
  text-align: right;
}

footer p {
  margin-right: 2.5%;
}

header {
  margin-top: 10px;
  margin-bottom: 10px;
}

header p {
  text-align: left;
  margin: 0;
}

.fullscreen-div {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.collection-div {
  width: 60vw;
  margin-left: calc(-26vw + 50%);
  display: flex;
  flex-wrap: wrap;
}

::-webkit-scrollbar {
  width: 0;
}

/**
 * Highlight/Markup
 */
::selection {
  background: var(--selection-background);
  color: var(--selection-text);
}

::-moz-selection {
  background: var(--selection-background);
  color: var(--selection-text);
}

/**
 * Lists
 */
:not(.menu) > ul {
  list-style: none;
  padding-left: 0;
}

:not(.menu) > ul {
  list-style-type: none;
}

:not(.menu) > ul > li:before {
  content: "-";
  margin-right: 9px;
}

/**
 * Header/Navigation
 */
.menu {
  border-top: var(--border);
  border-bottom: var(--border);
  margin-bottom: 25px;
  white-space: nowrap;
  overflow-x: auto;
  position: relative;
}

.input-box {
  border: var(--border);
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.menu .search-results {
  background-color: var(--background-color);
  z-index: 10;
  margin-left: -0.25em;
  margin-top: 0.25em;
  padding-right: 2.5em;
  position: fixed;
  top: auto;
}

.menu .search-list-group-item {
  text-align: left;
  padding-left: 0.2em;
  padding-right: 0.25em;
}

.menu ul {
  margin-top: 12px;
  margin-bottom: 12px;
  padding-left: 0px;
  list-style-type: none;
  text-align: center;
}

.menu ul li {
  display: inline-block;
  margin-left: 10px;
  user-select: none;
}

.menu ul li a {
  text-decoration: none;
  color: var(--text-color);
}

.menu ul li a:hover {
  text-decoration: none;
  color: var(--background-color);
  background-color: var(--base-color);
}

/**
 * Form
 */
input, select, textarea {
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border: none;
}

input[type=text], select, textarea {
  width: 100%;
  resize: none;
  background-color: var(--background-color);
  color: var(--text-color);
  caret-color: var(--text-color);
  font-size: $base-font-size;
  font-family: $base-font-family;
  line-height: $base-line-height;
}

input, select, textarea, textarea::-webkit-input-placeholder {
  text-indent: 0px;
}

::placeholder {
  color: var(--placeholder-color);
  opacity: 1;
}

:-ms-input-placeholder {
  color: var(--placeholder-color);
}

::-ms-input-placeholder {
  color: var(--placeholder-color);
}

input[type=submit] {
  font-size: $base-font-size;
  font-family: $base-font-family;
  line-height: $base-line-height;
  cursor: pointer;
  color: var(--link-color);
  background-color: var(--background-color);
}

input[type=submit]:hover {
  color: var(--background-color);
  background-color: var(--base-color);
}

*:focus {
  outline: none;
}

textarea {
  vertical-align: top;
}

/**
 * Code and syntax highlighting
 */
.lineno {
  color: var(--code-color-1);
  margin-right: 15px;
}

figure.highlight {
  margin: 5px 0;
}

pre {
  background-color: var(--background-color);
  border: none;
  padding: 0;
  margin: 0;
  overflow: auto;
  font-size: $base-font-size;
  color: var(--text-color);
  line-height: 1.7 !important;
  font-family: $base-font-family !important;
}

.highlight .hll {
  background-color: var(--code-color-2);
}

.highlight .c {
  color: var(--code-color-1);
  font-style: italic
}

/* Comment */
.highlight .err {
  color: var(--code-color-3);
  background-color: var(--code-color-4);
}

/* Error */
.highlight .k {
  color: var(--code-color-5);
}

/* Keyword */
.highlight .cm {
  color: var(--code-color-1);
  font-style: italic
}

/* Comment.Multiline */
.highlight .cp {
  color: var(--code-color-6);
}

/* Comment.Preproc */
.highlight .c1 {
  color: var(--code-color-1);
  font-style: italic
}

/* Comment.Single */
.highlight .cs {
  color: var(--code-color-5);
  font-style: italic
}

/* Comment.Special */
.highlight .gd {
  color: var(--code-color-7);
}

/* Generic.Deleted */
.highlight .ge {
  font-style: italic
}

/* Generic.Emph */
.highlight .gr {
  color: var(--code-color-7);
}

/* Generic.Error */
.highlight .gh {
  color: var(--code-color-8);
  font-weight: bold
}

/* Generic.Heading */
.highlight .gi {
  color: var(--code-color-9);
}

/* Generic.Inserted */
.highlight .go {
  color: var(--code-color-10);
}

/* Generic.Output */
.highlight .gp {
  color: var(--code-color-11);
}

/* Generic.Prompt */
.highlight .gs {
  font-weight: bold
}

/* Generic.Strong */
.highlight .gu {
  color: var(--code-color-12);
  font-weight: bold
}

/* Generic.Subheading */
.highlight .gt {
  color: var(--code-color-7);
}

/* Generic.Traceback */
.highlight .kc {
  color: var(--code-color-5);
}

/* Keyword.Constant */
.highlight .kd {
  color: var(--code-color-5);
}

/* Keyword.Declaration */
.highlight .kn {
  color: var(--code-color-5);
}

/* Keyword.Namespace */
.highlight .kp {
  color: var(--code-color-5);
}

/* Keyword.Pseudo */
.highlight .kr {
  color: var(--code-color-5);
}

/* Keyword.Reserved */
.highlight .kt {
  color: var(--code-color-13);
}

/* Keyword.Type */
.highlight .m {
  color: var(--code-color-14);
}

/* Literal.Number */
.highlight .s {
  color: var(--code-color-15);
}

/* Literal.String */
.highlight .na {
  color: var(--code-color-16);
}

/* Name.Attribute */
.highlight .nb {
  color: var(--code-color-13);
}

/* Name.Builtin */
.highlight .nc {
  color: var(--code-color-9);
  text-decoration: underline
}

/* Name.Class */
.highlight .no {
  color: var(--code-color-7);
}

/* Name.Constant */
.highlight .nd {
  color: var(--code-color-10);
}

/* Name.Decorator */
.highlight .ni {
  color: var(--code-color-17);
  font-weight: bold
}

/* Name.Entity */
.highlight .nf {
  color: var(--code-color-9);
}

/* Name.Function */
.highlight .nn {
  color: var(--code-color-13);
  text-decoration: underline
}

/* Name.Namespace */
.highlight .nt {
  color: var(--code-color-16);
  font-weight: bold
}

/* Name.Tag */
.highlight .nv {
  color: var(--code-color-7);
}

/* Name.Variable */
.highlight .ow {
  color: var(--code-color-5);
}

/* Operator.Word */
.highlight .w {
  color: var(--code-color-18);
}

/* Text.Whitespace */
.highlight .mf {
  color: var(--code-color-14);
}

/* Literal.Number.Float */
.highlight .mh {
  color: var(--code-color-14);
}

/* Literal.Number.Hex */
.highlight .mi {
  color: var(--code-color-14);
}

/* Literal.Number.Integer */
.highlight .mo {
  color: var(--code-color-14);
}

/* Literal.Number.Oct */
.highlight .sb {
  color: var(--code-color-15);
}

/* Literal.String.Backtick */
.highlight .sc {
  color: var(--code-color-15);
}

/* Literal.String.Char */
.highlight .sd {
  color: var(--code-color-15);
}

/* Literal.String.Doc */
.highlight .s2 {
  color: var(--code-color-15);
}

/* Literal.String.Double */
.highlight .se {
  color: var(--code-color-15);
}

/* Literal.String.Escape */
.highlight .sh {
  color: var(--code-color-15);
}

/* Literal.String.Heredoc */
.highlight .si {
  color: var(--code-color-15);
}

/* Literal.String.Interpol */
.highlight .sx {
  color: var(--code-color-15);
}

/* Literal.String.Other */
.highlight .sr {
  color: var(--code-color-14);
}

/* Literal.String.Regex */
.highlight .s1 {
  color: var(--code-color-15);
}

/* Literal.String.Single */
.highlight .ss {
  color: var(--code-color-5);
}

/* Literal.String.Symbol */
.highlight .bp {
  color: var(--code-color-13);
}

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: var(--code-color-7);
}

/* Name.Variable.Class */
.highlight .vg {
  color: var(--code-color-7);
}

/* Name.Variable.Global */
.highlight .vi {
  color: var(--code-color-7);
}

/* Name.Variable.Instance */
.highlight .il {
  color: var(--code-color-14);
}

textarea.blocklyCommentTextarea {
  background-color: lightgray;
  color: black;
  font-size: 12pt;
}
