
# ValidationReport

## Properties
Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**valid** | **Boolean** |  |  [optional]
**errors** | **List&lt;String&gt;** |  |  [optional]



