<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>

<configuration
        xmlns="http://ch.qos.logback/xml/ns/logback"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://ch.qos.logback/xml/ns/logback https://raw.githubusercontent.com/enricopulatzo/logback-XSD/master/src/main/xsd/logback.xsd">
    <import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"/>
    <import class="ch.qos.logback.core.ConsoleAppender"/>
    <import class="ch.qos.logback.classic.AsyncAppender"/>

    <appender name="STDOUT" class="ConsoleAppender">
        <encoder class="PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC" class="AsyncAppender">
        <appender-ref ref="STDOUT" />
        <queueSize>500</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <neverBlock>true</neverBlock>
    </appender>

    <root level="WARN">
        <appender-ref ref="ASYNC"/>
    </root>
    <logger name="com.hiddenswitch.framework" level="WARN"/>
    <logger name="com.hiddenswitch.framework.impl.ClusteredGames" level="WARN"/>
    <logger name="com.hiddenswitch.framework.impl.ClientMatchmakingService" level="WARN"/>
    <logger name="com.hiddenswitch.diagnostics" level="ALL"/>
    <logger name="net.demilich.metastone.game" level="WARN"/>
    <logger name="io.vertx.ext.auth.jwt" level="ERROR"/>
    <logger name="io.grpc.netty" level="WARN"/>
    <logger name="io.netty" level="WARN"/>
    <logger name="io.jaegertracing" level="OFF"/>
</configuration>